<div class = "card-wrapper">
  <div class = "card">
    <!-- card left -->
    <div class = "product-imgs">
      <div class = "img-display">
        <div class = "img-showcase">
          <img src = "../assets/kfc-1.jpg" alt = "shoe image">
          
        </div>
      </div>
      
    </div>
    <!-- card right -->
    <div class = "product-content">
      <h2 class = "product-title"></h2>
      <a href = "#" class = "product-link">visit store</a>
      <div class = "product-rating">
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star"></i>
        <i class = "fas fa-star-half-alt"></i>
        <span>4.7(21)</span>
      </div>
      <div class="add">
        <p>Address:</p>
        <p>Email Id:</p>
      </div>

      <div class = "owner-name">
        <p class = "owner">Owner,
        <p class = "owner-resto">Mr. <span>Rohit Sharma</span></p>
      </div>

      <div class = "product-detail">
        <h2>about this restaurant: </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo eveniet veniam tempora fuga tenetur placeat sapiente architecto illum soluta consequuntur, aspernatur quidem at sequi ipsa!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur, perferendis eius. Dignissimos, labore suscipit. Unde.</p>
        <ul>
          <li>Pure Nonvej</li>
          <li>Fresh Foods</li>
          <li>Well Hyginic</li>
          <li>Fast Order</li>
          <li>Home Delivery </li>
        </ul>
      </div>

      

      
    </div>
  </div>
</div>

<!-- <div class="container">
  <h2 class="text-title">Images</h2>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide><img src="../assets/kfc-1.jpg"></ng-template>  
    <ng-template carouselSlide><img src="../assets/kfc-2.jpg"></ng-template>  
    <ng-template carouselSlide><img src="../assets/kfc-3.jpg"></ng-template>  
  </owl-carousel-o>
</div> -->
  


