<div class="container">
<h1 class="text-center"> Restaurants List</h1>

<table class="table table-striped table-dark">
    <thead>
      <tr>
        <th scope="col" style="color:darkgrey">#</th>
        <th scope="col" style="color:darkgrey">Name</th>
        <th scope="col" style="color:darkgrey">Address</th>
        <th scope="col" style="color:darkgrey">Email</th>
        <th scope="col" style="color:darkgrey">Actions</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of collection" (click)="onRowSelect(item)">
        <th>{{item.id}}</th>
        <th >{{item.name}}</th>
        <th>{{item.address}}</th>
        <th>{{item.email}}</th>
        <th><i (click)="deleteResto(item.id)" class="fa fa-trash"  style="color:red;font-size: 20px;"></i>
        <a routerLink="/update/{{item.id}}"><i class="fa fa-edit"  style="color:blue;font-size: 20px;padding: 10px;"></i></a>
        </th>
      </tr>
    </tbody>
  </table>
  </div>




  <!-- delete confirmation dialog box -->

 <!-- <form [(visible)]="false">
<div mat-dialog-content>
  <p>Are you sure you want to delete?</p>
  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Thanks</button>
   <button mat-button (click)="deleteResto(item.id)" cdkFocusInitial>Confirm</button>
</div>
</form> -->

