.navbar-brand{
    font-size: 26px;
    padding: 20px;
}
.nav-item{
    font-size: 17px;
}
footer {
    padding: 16px;
    background-color: grey;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    margin: 0;
}